# string

## Generate string

In **Python** you can use a pair of single quotes '' or double quotes "" to generate a string.

In [1]:
s = "hello, world"
print(s)

hello, world

In [2]:
s = 'hello world'
print(s)

hello world

## Simple operation

addition:

In [3]:
s = 'hello ' + 'world'
s

'hello world'

Multiply strings and numbers:

In [4]:
"echo" * 3

'echoechoecho'

String length:

In [5]:
len(s)

11

## String method

**Python** is an object-oriented language. An essential element in an object-oriented language is methods, and strings are a type of object, so there are many available methods.

Like many languages, **Python** uses the following form to call methods:

     Object.Method(parameter)

### Split

s.split() splits s according to spaces (including multiple spaces, tab character `\t`, newline character `\n`, etc.) and returns all the separated strings.

In [6]:
line = "1 2 3 4  5"
numbers = line.split()
print (numbers)

['1', '2', '3', '4', '5']

s.split(sep) splits s using the given sep as the separator.

In [7]:
line = "1,2,3,4,5"
numbers = line.split(',')
print (numbers)

['1', '2', '3', '4', '5']

### connect

Contrary to splitting, the function of s.join(str_sequence) is to use s as the connector to connect the elements in the string sequence str_sequence and return the new string obtained after the connection:

In [8]:
s = ' '
s.join(numbers)

'1 2 3 4 5'

In [9]:
s = ','
s.join(numbers)

'1,2,3,4,5'

### Replacement

s.replace(part1, part2) replaces the specified part part1 in the string s with the desired part part2 and returns a new string.

In [10]:
s = "hello world"
s.replace('world', 'python')

'hello python'

At this time, the value of s has not changed, and the replacement method only generates a new string.

In [11]:
s

'hello world'

### Case conversion

The s.upper() method returns a new string with all letters in s uppercase.

The s.lower() method returns a new string with all letters in s lowercase.

In [12]:
"hello world".upper()

'HELLO WORLD'

These two methods will not change the original value of s:

In [13]:
s = "HELLO WORLD"
print (s.lower())
print (s)

hello world
HELLO WORLD

### Remove extra spaces

s.strip() returns a new string with excess spaces removed from both ends of s.

s.lstrip() returns a new string with excess spaces at the beginning of s removed.

s.rstrip() returns a new string with excess spaces at the end of s removed.

In [14]:
s = "  hello world   "
s.strip()

'hello world'

The value of s still does not change:

In [15]:
s

'  hello world   '

In [16]:
s.lstrip()

'hello world   '

In [17]:
s.rstrip()

'  hello world'

## More methods

In [18]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

You can use the dir function to view all available methods:

Python uses a pair of `"""` or `''''` to generate a multiline string:

In [19]:
a = """hello world.
it is a nice day."""
print (a)

hello world.
it is a nice day.

When saving, we add a newline character `'\n'` between the two lines of characters.

In [20]:
a

'hello world.\nit is a nice day.'

## Use `()` or `\` to break new lines

When the code is too long or for aesthetic reasons, we can use two methods to convert one line of code into multiple lines of code:

*()
*\

In [21]:
a = ("hello, world. "
    "it's a nice day. "
    "my name is xxx")
a

"hello, world. it's a nice day. my name is xxx"

In [22]:
a = "hello, world. " \
    "it's a nice day. " \
    "my name is xxx"
a

"hello, world. it's a nice day. my name is xxx"

## Force conversion to string

* `str(ob)` forces `ob` to be converted into a string.
* `repr(ob)` also forces `ob` to be converted into a string.

The differences are as follows:

In [23]:
str(1.1 + 2.2)

'3.3000000000000003'

In [24]:
repr(1.1 + 2.2)

'3.3000000000000003'

## Conversion of integers and strings of different bases

Integers can be converted into different types of strings according to different bases.

hexadecimal:

In [25]:
hex(255)

'0xff'

Octal:

In [26]:
oct(255)

'0o377'

Binary:

In [27]:
bin(255)

'0b11111111'

You can use `int` to convert a string to an integer:

In [28]:
int('23')

23

You can also specify how many bases to use for conversion, and finally return an integer expressed in decimal:

In [29]:
int('FF', 16)

255

In [30]:
int('377', 8)

255

In [31]:
int('11111111', 2)

255

`float` can convert a string to a floating point number:

In [32]:
float('3.5')

3.5

## Format string

**Python** uses the `format()` method of the string to format the string.

The specific usage is as follows. The part of the curly braces `{}` in the string will be replaced by the parameter passed in by format. The value passed in can be a string, a number or other object.

In [33]:
'{} {} {}'.format('a', 'b', 'c')

'a b c'

You can use numbers to specify the relative position of the incoming parameters:

In [34]:
'{2} {1} {0}'.format('a', 'b', 'c')

'c b a'

You can also specify the name of the incoming parameter:

In [35]:
'{color} {n} {x}'.format(n=10, x=1.5, color='blue')

'blue 10 1.5'

Can be mixed together:

In [36]:
'{color} {0} {x} {1}'.format(10, 'foo', x = 1.5, color='blue')

'blue 10 1.5 foo'

You can specify the format with `{<field name>:<format>}`:

In [37]:
from math import pi

'{0:10} {1:10d} {2:10.2f}'.format('foo', 5, 2 * pi)

'foo                 5       6.28'

The specific rules are the same as in C.

You can also use the old `%` method for formatting:

In [38]:
s = "some numbers:"
x = 1.34
y = 2
# Separate with percent signs and enclosed in parentheses
t = "%s %f, %d" % (s, x, y)

In [39]:
t

'some numbers: 1.340000, 2'