# Set A

The lists and strings we saw before are all ordered sequences, while the set `set` is an unordered sequence.

Because the set is unordered, when there are two identical elements in the set, Python will only save one of them (uniqueness); at the same time, in order to ensure that it does not contain the same elements, the elements placed in the set can only be Is an immutable object (deterministic).

## Collection generation

You can use the `set()` function to explicitly generate an empty collection:

In [1]:
a = set()
type(a)

set

You can also use a list to initialize a collection:

In [2]:
a = set([1, 2, 3, 1])
a

{1, 2, 3}

The collection will automatically remove duplicate elements `1`.

As you can see, the elements in the set are enclosed by braces `{}`, which means that the set can be created in the form of `{}`:

In [3]:
a = {1, 2, 3, 1}
a

{1, 2, 3}

But when creating an empty collection, you can only use `set` to create it, because `{}` in Python creates an empty dictionary:

In [4]:
s = {}
type(s)

dict

## Collection operations

Suppose there are two sets like this:

In [5]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

### merge

The union of two sets returns a set containing all elements of both sets (with duplicates removed).

This can be achieved using the method `a.union(b)` or the operation `a | b`.

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [7]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [8]:
a | b

{1, 2, 3, 4, 5, 6}

### intersection

The intersection of two sets returns a set containing elements common to both sets.

This can be achieved using the method `a.intersection(b)` or the operation `a & b`.

In [9]:
a.intersection(b)

{3, 4}

In [10]:
b.intersection(a)

{3, 4}

In [11]:
a & b

{3, 4}

In [12]:
print(a & b)

{3, 4}

Note: Generally, the result of using print to print set is not consistent with the representation method.

### Difference

The difference between `a` and `b` returns a set consisting only of elements in `a` but not in `b`.

This can be achieved using the method `a.difference(b)` or the operation `a - b`.

In [13]:
a.difference(b)

{1, 2}

In [14]:
a - b

{1, 2}

Note that `a - b` is not the same as `b - a`. `b - a` returns a set consisting of elements where b is not in a:

In [15]:
b.difference(a)

{5, 6}

In [16]:
b - a

{5, 6}

### Symmetry difference

Symmetric difference set of `a` and `b`, returning the set consisting of elements that are in either `a` or `b`, but not both `a` and `b`.

This can be achieved using the method `a.symmetric_difference(b)` or the operation `a ^ b` (XOR operator).

In [17]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [18]:
b.symmetric_difference(a)

{1, 2, 5, 6}

In [19]:
a ^ b

{1, 2, 5, 6}

### Inclusion relationship

Suppose there are two collections like this:

In [20]:
a = {1, 2, 3}
b = {1, 2}

To determine whether `b` is a subset of `a`, you can use the `b.issubset(a)` method, or more simply use the operation `b <= a`:

In [21]:
b.issubset(a)

True

In [22]:
b <= a

True

Correspondingly, you can also use `a.issuperset(b)` or `a >= b` to judge:

In [23]:
a.issuperset(b)

True

In [24]:
a >= b

True

Methods can only be used to test subsets, but operators can be used to determine true subsets:

In [25]:
a <= a

True

Oneself is not a proper subset of oneself:

In [26]:
a < a

False

## Collection method

### The `add` method adds a single element to the collection

Similar to the `append` method of a list, it is used to add a single element to the collection.

     s.add(a)

Add element `a` to set `s`.

In [27]:
t = {1, 2, 3}
t.add(5)
t

{1, 2, 3, 5}

If you add an existing element, the collection does not change:

In [28]:
t.add(3)
t

{1, 2, 3, 5}

### The `update` method adds multiple elements to the collection

Similar to the `extend` method of a list, it is used to add multiple elements to the collection.

     s.update(seq)

Add elements from `seq` to `s`.

In [29]:
t.update([5, 6, 7])
t

{1, 2, 3, 5, 6, 7}

### `remove` method removes a single element

    s.remove(ob)

Remove element `ob` from set `s`. If it does not exist, an error will be reported.

In [30]:
t.remove(1)
t

{2, 3, 5, 6, 7}

In [31]:
t.remove(10)

KeyError: 10

### pop method pops up elements

Since the collection has no order, elements cannot be popped by position like a list, so the `pop` method deletes and returns any element in the collection. If there is no element in the collection, an error will be reported.

In [32]:
t.pop()

2

In [33]:
print(t)

{3, 5, 6, 7}

In [34]:
s = set()
# Report an error
s.pop()

KeyError: 'pop from an empty set'

### discard method

The function is the same as `remove`, but no error will be reported when the element does not exist in the collection.

In [35]:
t.discard(3)

In [36]:
t

{5, 6, 7}

No error will be reported for non-existing elements:

In [37]:
t.discard(20)

In [38]:
t

{5, 6, 7}

### difference_update method

    a.difference_update(b)

Remove all elements from a that belong to b: